* {
    margin: 0;   
    padding: 0;
    //box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 41rem;
    border-bottom: 1rem solid rgb(35, 160, 35);
    margin: 0 auto;   
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF)
}

.pipe {
    position: absolute;
    bottom: -93px;
    width: 5rem;
    animation: pipe-animation 2.5s infinite linear;
}

.mario {
    width: 9.375rem;
    position: absolute;
    bottom: -93px;
}

.jump {
    animation: jump 500ms ease-out;

}

.clouds {
    position: absolute;
    width: 34.375rem;
    top: 6.125rem;
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -5rem;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 11.25rem;
    }

    50% {
        bottom: 11.25rem;
    }

    60% {
        bottom: 11.25rem;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -34.375rem;
    }

    to {
        right: 100%;
    }
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.game-over p {
    font-size: 40px;
    font-weight: bold;
    color: transparent;
    text-align: center;
    font-family: Arial, sans-serif;
    animation: flame 1s infinite alternate;
}

@keyframes flame {
    0% {
        color: #ff6600;
        text-shadow: 0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 15px #ff6600;
    }
    50% {
        color: #ff3300;
        text-shadow: 0 0 15px #ff3300, 0 0 20px #ff3300, 0 0 25px #ff3300;
    }
    100% {
        color: #ff0000;
        text-shadow: 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000;
    }
}



